Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=localeutf8Dp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=localeutf8Dp
Author: Linus Yang <laokongzi@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: Locale Profiles in UTF-8
Package: com.linusyang.localeutf8
Depends: profile.d
Section: System
Installed-Size: 186
Version: 1.0-1
Architecture: iphoneos-arm64
Description: UTF-8 locale files for en_US and zh_CN
dev: laokongzi
Tag: purpose::console, role::hacker
