Package: org.coolstar.libhooker
Architecture: iphoneos-arm64
Name: libhooker
Description: General Purpose Injection and Hooking library for 64-bit devices
Author: CoolStar <coolstarorganization@gmail.com>
Icon: https://repo.theodyssey.dev/depictions/icons/libhooker.png
SileoDepiction: https://repo.theodyssey.dev/depictions/json/libhooker.json
Version: 1.6.9b2
Maintainer: CoolStar <coolstarorganization@gmail.com>
Section: System
Depends: firmware (>= 11.0), cy+cpu.arm64, org.coolstar.safemode
Provides: com.ex.libsubstitute (= 2.0), org.coolstar.tweakinject (= 1.5.0), mobilesubstrate (= 99.4), libhooker-strap (= 1.1), com.saurik.substrate.safemode (= 2.0)
Replaces: com.ex.libsubstitute, org.coolstar.tweakinject, mobilesubstrate, libhooker-strap, com.saurik.substrate.safemode
Conflicts: com.ex.libsubstitute, org.coolstar.tweakinject, mobilesubstrate, libhooker-strap, com.saurik.substrate.safemode
