Package: org.coolstar.safemode
Architecture: iphoneos-arm64
Name: Safe Mode (libhooker)
Description: Safe Mode app for libhooker
Author: CoolStar <coolstarorganization@gmail.com>
Version: 1.1.4
Maintainer: CoolStar <coolstarorganization@gmail.com>
Section: System
Depends: firmware (>= 11.0), cy+cpu.arm64
Replaces: org.coolstar.libhooker (<<1.2.5)
