Package: com.tigisoftware.filza
Name: Filza File Manager
Depends: zip, unzip, gzip, unrar, p7zip
Conflicts: com.tigisoftware.filza64bit
Architecture: iphoneos-arm64
Description: File Manager for iPhone, iPad, iPod Touch. Supports iOS 7+
Maintainer: TIGI Software
Author: TIGI Software
Section: Utilities
Version: 3.9.6-4
Installed-Size: 34232
